{% extends 'admin/base.html' %}

{% block title %}Doctors{% endblock %}

{% block content %}

<h2>
<nav>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'home' %}">Home</a>
</nav>
</h2>

<nav>
    <a href="{% url 'patient_list' %}">Patients</a>
    <a href="{% url 'hospital_list' %}">Hospitals</a>
    <a href="{% url 'referral_list' %}">Referrals</a>
    <a href="{% url 'appointment_list' %}">Appointments</a>
</nav>

<h1><b>Doctors</b></h1>
<ul>
    {% for doctor in doctors %}
    <li><b>Hospital ID:</b> {{ doctor.hospitalid }} - <b>Name:</b> {{ doctor.fname }} - <b>Specialization</b> {{ doctor.specialization }} - <b>Contact:</b> {{ doctor.phonenumber }} -</li>
    {% endfor %}
</ul>
{% endblock %}
