{% extends 'admin/base.html' %}

{% block title %}Hospitals{% endblock %}

{% block content %}

<nav>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'patient_list' %}">Patients</a>
    <a href="{% url 'doctor_list' %}">Doctors</a>
    <a href="{% url 'referral_list' %}">Referrals</a>
    <a href="{% url 'appointment_list' %}">Appointments</a>
</nav>

<h1>Hospitals</h1>
<ul>
    {% for hospital in hospitals %}
    <li>{{ hospital.hospitalname }} - {{ hospital.address }}</li>
    {% endfor %}
</ul>
{% endblock %}
