{% extends 'admin/base.html' %}

{% block title %}Add Record{% endblock %}

{% block content %}


<p>Use the navigation to View Records</p>

<nav>
    <div class="container">
        <ul>
            <li><a href="{% url 'patient_list' %}">Patients</a></li>
            <li><a href="{% url 'doctor_list' %}">Doctors</a></li>
            <li><a href="{% url 'hospital_list' %}">Hospitals</a></li>
            <li><a href="{% url 'referral_list' %}">Referrals</a></li>
            <li><a href="{% url 'appointment_list' %}">Appointments</a></li>
        </ul>
    </div>
</nav>



{% endblock %}